/* styles.css */

/* Custom heading styles for Track Features Analysis */
.custom-heading-track-features {
    text-align: left;
    font-size: 65px;
    text-decoration: underline;
    text-decoration-color: lightgreen;
    margin-bottom: 20px;
}
/* Custom heading styles for Artist Name */
.custom-heading-artist {
    text-align: center;
    font-size: 100px;
}

/* Custom heading styles for FAVE artists*/
.custom-heading-fave-artists-glance {
    text-align: left;
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: lightgreen;
    margin-bottom: 20px;
}

/* Custom heading styles for summary*/
.custom-heading-summary {
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: lightseagreen;
    margin-bottom: 20px;
}
/* Custom heading styles for Favourite artists*/
.custom-heading-favourites{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

/* Custom heading styles for Your FAVE TRACKS */
.custom-heading-fave-tracks-glance {
    text-align: right;
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: indianred;
    margin-bottom: 20px;
}

/* Custom heading styles for top Genres */
.custom-heading-top-genres {
    text-align: Left;
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: lightblue;
    margin-bottom: 20px;
}

/* Custom heading styles: First Genre */
.custom-heading-first-genre {
    text-align: left;
    text-decoration: underline;
    margin-bottom: 20px;
    font-size: 60px;
}

/* Custom heading styles for Top Moods */
.custom-heading-top-moods {
    text-align: right;
    font-size: 65px;
    text-decoration: underline;
    text-decoration-color: indianred;
    margin-bottom: 20px;
}

/* Custom heading styles for Recommendations */
.custom-heading-recommendations {
    text-align: right;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: indianred;
    margin-bottom: 20px;
}
/* CSS styles for setting background color for a section */
.section {
    background-color: #f0f0f0; /* Change the color code to your desired background color */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Define CSS classes for image alignment */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    width: 200px;
    height: auto;
}

/* Define CSS class for text alignment */
.text-center {
    text-align: center;
}

/* Container */
.st-emotion-cache-r421ms {
    border: 0.1x solid rgba(49, 51, 63, 0.2);
    border-radius: 0.5rem;
    padding: calc(1em - 1px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    text-align: center; /* Center-align text */
    transition: all 0.3s ease; /* Smooth transition */
}

/* Button */
.st-emotion-cache-1umgz6k {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    min-height: 38.4px;
    margin: 0px;
    line-height: 2;
    color: inherit;
    width: 100%;
    user-select: none;
    background-color: rgb(255, 255, 255);
    border: 1.2px solid rgba(49, 51, 63, 0.2);
}